
/* Lora */

@font-face {
    font-family: 'lora_regular';
    src: url('../media/fonts/lora_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lora_bold';
    src: url('../media/fonts/lora_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lora_italic';
    src: url('../media/fonts/lora_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lora_bold_italic';
    src: url('../media/fonts/lora_bold_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Input */

@font-face {
    font-family: 'input_mono_regular';
    src: url('../media/fonts/input_mono_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'input_mono_medium';
    src: url('../media/fonts/input_mono_medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Playfair */

@font-face {
  font-family: 'playfair_regular';
  src: url('../media/fonts/playfair_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'playfair_bold';
  src: url('../media/fonts/playfair_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
