html { background: #efefef; padding: 30px; overflow: hidden; -webkit-app-region: drag;}
body { background: #fff;padding: 30px; max-width: 420px; min-width: 420px; margin:0px auto; font-family: 'lora_regular'; overflow: hidden; -webkit-app-region: drag;}
body wr { display: block;background: #fff;height: calc(100vh - 180px);margin: 0px auto;width: calc(100% - 60px);position: relative;min-height: 500px;-webkit-app-region: no-drag;transition: all 250ms;padding: 30px;border: 1px solid #efefef;}
body wr page { display: block;overflow-y: scroll;height: calc(100vh - 190px);transition: all 250ms;width: calc(100% - 0px);padding: 30px 30px 0px;margin-left: -30px;margin-top: -30px;}
body wr page h1 { font-family: 'playfair_regular'; font-size: 40px;text-transform: uppercase;text-align: center;line-height: 50px;margin-bottom: 30px;margin-top: 30px; font-weight: normal; }
body wr page h1 *:first-child { font-family: 'playfair_bold'; }
body wr page h2#passive { text-align: center; margin-bottom: 30px; font-size:16px; line-height: 20px; text-transform: uppercase; font-family: 'playfair_regular';  }
body wr page h2#passive:before { content:'– '; }
body wr page h2#passive:after { content:' –'; }
body wr page h2#passive action { border-bottom:0px; }
body wr page h2#passive action:hover { border-bottom:0px; color:#ccc; }
body wr page p { font-size: 18px;font-family: 'lora_italic';margin-bottom: 30px;line-height: 26px;}
body wr page p action { border-bottom:0px; font-family: 'lora_bold_italic' }
body wr page p action:hover { border-bottom:1px solid #ccc; cursor: pointer;}
body wr page p b { font-family: 'lora_bold' }
body wr page list { display: block; line-height: 22px; margin-bottom:30px; }
body wr page list ln { display: inline-block; margin-right:5px; }
body wr page list ln:before { content: counter(item, decimal) '. ';counter-increment: item; color:#999; }
body wr input { display: block;position: absolute;bottom: 0px;width: calc(100% - 60px);font-family: 'input_mono_regular';font-weight: normal;font-size: 12px;line-height: 30px;left: 30px;padding: 5px 0px;background: transparent;}
body wr hint { display: block;position: absolute;bottom: 0px;width: calc(100% - 60px);font-family: 'input_mono_regular';font-weight: normal;font-size: 12px;line-height: 30px;left: 30px;padding: 5px 0px;color: #999;height: 30px;overflow: hidden;background: transparent;border-top: 1px solid #efefef;}
body wr hint t.ghost { display: inline-block; color:transparent; }
body wr action:hover { cursor: pointer; }

#tips { margin-bottom:30px; border-top:1px solid #efefef; display: block; padding-top:30px; counter-reset: item;list-style-type: decimal; }
#tips ln {  font-size: 12px;  }
#tips ln action { font-family: 'lora_bold_italic'; border-bottom:0px }
#tips ln action:hover { text-decoration: underline; }
#tips ln code { display: inline-block;font-family: 'input_mono_regular';font-size: 90%;background: #efefef;padding: 0px 7.5px;border-radius: 2px; }
#note { display: block; transition: all 250ms }
#reaction { line-height: 45px;border-radius: 2px; transition: all 500ms; display: block; }
#reaction img { display: block; width:100%; }
#reaction p { font-size: 18px;margin: 0px auto 30px;min-width: 240px; font-family: 'lora_regular' }
#action { position: relative; }
#action::before { content:"•"; position: absolute; margin-left: -15px; font-size:14px; line-height: 30px }

/* Animation */

.hidden { opacity: 0; height:0px; }
.visible { opacity: 1; height:auto; }

body.loading page { transition: all 0ms; opacity: 0; }
body.ready page { opacity: 1 }