html { background: #efefef; padding: 30px; overflow: hidden; -webkit-app-region: drag;}
body { background: #fff;padding: 30px; max-width: 420px; min-width: 420px; margin:0px auto; font-family: 'lora_regular'; overflow: hidden; -webkit-app-region: drag;}
body wr { display: block;background: #fff;height: calc(100vh - 180px);margin: 0px auto;width: calc(100% - 60px);position: relative;min-height: 500px;-webkit-app-region: no-drag;transition: all 250ms;padding: 30px;border: 1px solid #efefef;}
body wr page { display: block;overflow-y: scroll;height: calc(100vh - 220px);transition: all 250ms;width: calc(100% - 0px);padding: 30px 30px 0px;margin-left: -30px;margin-top: -30px;}
body wr page h1 { font-family: 'frank_ruhl_light'; font-size: 40px;text-transform: uppercase;text-align: center;line-height: 50px;margin-bottom: 30px;margin-top: 30px; font-weight: normal; }
body wr page h2 { text-align: center; margin-bottom: 30px; font-size:14px; line-height: 20px; text-transform: uppercase; font-family: 'frank_ruhl_regular';  }
body wr page h2 action { border-bottom:0px; }
body wr page h2 action:hover { border-bottom:0px; color:#ccc; }
body wr page p { font-size: 18px;font-family: 'lora_italic';margin-bottom: 30px;line-height: 24px;}
body wr page list { border-top:1px solid #efefef; display: block; padding-top:30px; counter-reset: item;list-style-type: decimal; }
body wr page list ln { font-size: 12px; display: inline; margin-right:5px; }
body wr page list ln:before { content: counter(item, decimal) '. ';counter-increment: item; color:#999; }
body wr input { display: block;position: absolute;bottom: 0px;width: calc(100% - 60px);font-family: 'input_mono_regular';font-weight: normal;font-size: 12px;line-height: 30px;border-top: 1px solid #efefef;left: 0px;padding: 5px 30px; background: transparent;}
body wr hint { display: block;position: absolute;bottom: 0px;width: calc(100% - 60px);font-family: 'input_mono_regular';font-weight: normal;font-size: 12px;line-height: 30px;left: 0px;padding: 5px 30px;color: #999;height: 30px;overflow: hidden;background: white;border-top: 1px solid #efefef;}
body wr hint t.ghost { display: inline-block; color:transparent; }
body wr action { border-bottom:1px solid black; display: inline-block; }
body wr action:hover { border-bottom:1px solid #ccc; cursor: pointer}

#tips ln action { font-family: 'lora_bold_italic'; border-bottom:0px }
#tips ln action:hover { text-decoration: underline; }
#note { display: block; transition: all 250ms }
#reaction { line-height: 45px;border-radius: 2px; transition: all 500ms; display: block; }
#reaction action { border-bottom:0px; font-family: 'lora_bold_italic' }
#reaction action:hover { border-bottom:1px solid #ccc; }
#reaction img { display: block; width:100%; }
#reaction h3 { text-align: center; font-family: 'frank_ruhl_regular'; text-transform: uppercase; font-size:22px; margin-bottom:15px; line-height: 30px }
#reaction p { font-size: 16px;margin: 0px auto 30px;min-width: 240px; font-family: 'lora_regular' }

/* Animation */

.hidden { opacity: 0; height:0px; }
.visible { opacity: 1; height:auto; }

body.loading page { opacity: 0; }
body.ready page { opacity: 1 }