body, html { background:var(--background) !important; }
body wr { background:var(--b_low) !important; border-color:var(--b_med) !important;  }
body wr page { color:var(--f_high) !important;  }
body wr hint { border-color:var(--b_med) !important;  }
body wr #tips { border-color:var(--b_med) !important;  }
body wr input::placeholder { color:var(--f_low) !important; }